stages:
  - build
  - test
  - deploy

building project:
  stage: test
  tags:
    - shell
  before_script:
    - docker build -t server:$CI_COMMIT_SHORT_SHA Backend/victory
  script:
    - docker run --rm -it --name django -p 5000:8000 server:$CI_COMMIT_SHORT_SHA
  after_script:
    - docker system prune -a
  only:
    - dev