stages:
  - build
  - test
  - deploy

copy files:
  stage: build
  tags:
    - shell
  # before_script:
  #   - sudo rm -r ~/projectvictory-test/
  script:
    - sudo cp -R Backend/victory ~/projectvictory-test/backend/
    - sudo cp -R Frontend/ ~/projectvictory-test/frontend/
    - sudo cp -f nginx.conf ~/projectvictory-test/
    - sudo cp -f docker-compose.yaml ~/projectvictory-test/
  only:
    - dev
  
build application:
  stage: test
  tags:
    - shell
  before_script:
    - cd ~/projectvictory-test
  script:
    - docker compose up -d --no-deps --build
  only:
    - dev
