stages:
  - build
  - test
  - clear
  - deploy

stop application:
  stage: build
  tags:
    - shell
  script:
    - docker compose down -v
  after_script:
    - sudo rm -r ~/projectvictory-test/static
  only:
    - dev

copy files:
  stage: build
  tags:
    - shell
  script:
    - sudo cp -r Backend/victory ~/projectvictory-test/backend/
    - sudo cp -r Frontend/ ~/projectvictory-test/frontend/
  after_script:
    - sudo cp nginx.conf ~/projectvictory-test/
    - sudo cp docker-compose.yaml ~/projectvictory-test/
  only:
    - dev
  
start new application:
  stage: test
  tags:
    - shell
  after_script:
    - cd ~/projectvictory-test
  script:
    - docker compose up -d --build
  only:
    - dev

# start Vue3:
#   stage: test
#   tags:
#     - shell
#   before_script:
#     - sudo cp cheker.sh ~
#     - bash cheker.sh $FRONTEND_NAME
#   script:
#      - docker run --rm --name $FRONTEND_NAME -d -p 5001:8080 frontend:$CI_COMMIT_SHORT_SHA
#   only:
#     - dev

# remove old containers:
#   stage: clear
#   tags:
#     - shell
#   script: docker system prune -af
#   only:
#     - dev
