stages:
  - build
  - test
  - deploy

copy files:
  stage: build
  tags:
    - shell

  script:
    - sudo cp -r Backend/victory/. ~/projectvictory-test/backend
    - sudo cp -r Frontend/. ~/projectvictory-test/frontend
    - sudo cp -f nginx.conf ~/projectvictory-test/
    - sudo cp -f docker-compose.yaml ~/projectvictory-test/
  only:
    - dev
  
build application:
  stage: test
  tags:
    - shell
  before_script:
    - cd ~/projectvictory-test
  script:
    - docker compose up -d --build
  only:
    - dev
