stages:
  - build
  - test
  - deploy

building server:
  stage: test
  tags:
    - shell
  before_script:
    - cp -r Backend/victory /home/admin/projectvictory-test/
    # - docker build -t server:$CI_COMMIT_SHORT_SHA Backend/victory
  script:
    - ls -l /home/admin/projectvictory-test/
  # after_script:
    # - docker system prune -a
  only:
    - dev