image: ubuntu:20.04

stages:
  - build
  - test
  - deploy

variables:
  PROJECT_DIR: ~/projectvictory-test/

building_server:
  stage: test
  tags:
    - shell
  before_script:
    - sudo cp -r Backend/victory $PROJECT_DIR/backend
    - docker build -t server:$CI_COMMIT_SHORT_SHA $PROJECT_DIR/backend
  script:
    - ls -l ~/projectvictory-test/
  after_script:
    - docker version
  only:
    - dev