stages:
  - update
  - build
  - run
  - deploy

update config:
  stage: update
  tags:
    - shell
  script:
    #- sudo cp -r Backend/victory/. ~/projectvictory-test/backend
    #- sudo cp -r Frontend/. ~/projectvictory-test/frontend
    - sudo cp -f nginx.conf ~/projectvictory-test/
    - sudo cp -f docker-compose.yaml ~/projectvictory-test/
  only:
    refs:
      - dev
    changes:
      - nginx.conf
      - docker-compose.yaml

update backend:
  stage: update
  tags:
    - shell
  script:
    - sudo cp -r Backend/victory/. ~/projectvictory-test/backend
    #- sudo cp -r Frontend/. ~/projectvictory-test/frontend
    #- sudo cp -f nginx.conf ~/projectvictory-test/
    #- sudo cp -f docker-compose.yaml ~/projectvictory-test/
  only:
    refs:
      - dev
    changes:
      - Backend/victory/*

update frontend:
  stage: update
  tags:
    - shell
  script:
    #- sudo cp -r Backend/victory/. ~/projectvictory-test/backend
    - sudo cp -r Frontend/. ~/projectvictory-test/frontend
    #- sudo cp -f nginx.conf ~/projectvictory-test/
    #- sudo cp -f docker-compose.yaml ~/projectvictory-test/
  only:
    refs:
      - dev
    changes:
      - Frontend/*

build application:
  stage: test
  tags:
    - shell
  before_script:
    - cd ~/projectvictory-test
  script:
    - docker compose up -d --build
  only:
    - dev
