stages:
  - copy
  - build
  - run
  - deploy

update config:
  stage: copy
  tags:
    - shell
  script:
    - sudo cp -f nginx.conf ~/projectvictory-test/
    - sudo cp -f docker-compose.yaml ~/projectvictory-test/
  only:
    refs:
      - dev
    changes:
      - nginx.conf
      - docker-compose.yaml

update files:
  stage: copy
  tags:
    - shell
  script:
    - sudo cp -rf Backend/victory/. ~/projectvictory-test/backend
    - sudo cp -rf Frontend/. ~/projectvictory-test/frontend
  only:
    - dev 

build application:
  stage: build
  tags:
    - shell
  script:
    - docker compose --project-directory projectvictory-test/ build
  only:
    - dev

run application:
  stage: run
  tags:
    - shell
  script:
    - docker compose --project-directory projectvictory-test/ down -v
  after_script:
    - docker compose --project-directory projectvictory-test/ up -d
  only:
    - dev


create application:
  stage: run
  tags:
    - shell
  script:
    - docker compose --project-directory projectvictory-test/ up -d --build
  when: manual
