image: ubuntu:20.04

stages:
  - build
  - test
  - deploy

building server:
  stage: test
  tags:
    - shell
  before_script:
    - who am i
    - cp -r Backend/victory /test
    # - docker build -t server:$CI_COMMIT_SHORT_SHA Backend/victory
  script:
    - ls -l /test
  # after_script:
    # - docker system prune -a
  only:
    - dev