version: '3.1'

services:
  backend: 
    container_name: backend
    build:
      context: backend/ 
      args:
          ip: 0.0.0.0
    restart: always
    ports:
      - 8000:8000
      - 587:587
    expose:
      - 8000
      - 587
    volumes:
      - /home/gitlab-runner/projectvictory-test/static/:/static/
      - /home/gitlab-runner/projectvictory-test/media/:/media/
      - /home/gitlab-runner/projectvictory-test/local.db:/db.sqlite3

  frontend:
    container_name: web
    build: frontend/
    restart: always
    ports:
      - 80:80
    depends_on:
      - backend
    expose:
      - 80
    volumes:
      - /home/gitlab-runner/projectvictory-test/nginx.conf:/etc/nginx/nginx.conf
      - /home/gitlab-runner/projectvictory-test/static/:/www/static
      - /home/gitlab-runner/projectvictory-test/media/:/www/media
